//Variables

$brand-color: #CF649A;
$text-color: #222222;
$background-color: #F8F9FA;
$white: white;
$title-font: 'Niconne',
cursive;
$primary-font: 'Open Sans',
sans-serif;
$font-size: 1rem;
$size: 1em;
$zero: 0;
$footer-background: #121212;
$footer-color: #555;

//Valores generales

* {
  box-sizing: border-box;

}

body {
  margin: $zero;
  padding: $zero;
  background-color: $background-color;
  font-family: $primary-font;
  font-size: $font-size * 1.2;



}

//Header

h1 {
  color: $brand-color;
  font-family: $title-font;
  font-size: $font-size * 4;
  text-align: center;

}

//Container

.container {
  margin: $size;

}

// Subtítulos

h2 {
  font-size: $font-size * 1.2;
  border-bottom: 2px solid #eee;
  padding-bottom: $size / 2;
}


// Tarjetas Página Inicio

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {

    background-color: $brand-color;
    color: $white;
    border-radius: $size;
    margin: $size / 2;
    width: 400px;
    height: 275px;

    &:hover {
      background-color: $brand-color;
      opacity: 0.9;

    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: $font-size * 2;
    }
  }

}

// Estilos iconos Inicio

.fa-chevron-circle-right {
  font-size: $size / 1.2;
  color: $brand-color;
}

//Acordeón

/* Estilo de los botones que se usan para abrir y cerrar el acordeón */

.accordion {
  width: 100%;
  font-family: $primary-font;
  font-size: $size;
  font-weight: bold;
  color: $white;
  background-color: $brand-color;
  padding: $size;
  outline: none;
  border: none;
  border-bottom: 0.1em solid $background-color;
  border-radius: $size;
  transition: 0.4s;
  cursor: pointer;

  &:hover {
    background-color: $brand-color;
    opacity: 0.9;

  }

}

.accordion:before {
  font-family: 'Font Awesome 6 Free';
  content: "\f078";
  float: right;
  padding-right: $size;
  padding-top: $size / 4;

}

.active:before {
  font-family: 'Font Awesome 6 Free';
  content: "\f077";
}

/* Estilos del contenido dentro del acordeón (oculto por defecto)*/

.panel {
  padding: $zero $size;
  max-height: $zero;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

//Blockquotes

blockquote {

  margin: $size $zero;
  padding: $size;
  font-family: monospace;
  font-size: $size * 0.9;
  background-color: #eee;
  border: 1px solid #ddd;

}

.pictures {
  display: block;
  margin: auto;
  border-radius: $size;

}

a {
  text-decoration: none;
  color: $brand-color;

}

ol {
  margin: $size;
  font-size: $font-size;
}

ol li {

  padding: $size / 2;

}

ol li em {
  font-family: monospace;
  background-color: #eee;
  font-style: normal;
}

// Footer

.main-footer {
  background: $footer-background;
  color: $white;
  padding: $size;
  margin-top: $size;
}

.footer-title {
  border-bottom: 1px dotted $footer-color;
  padding-bottom: $size;
}

.footer-txt {
  color: $footer-color;
  text-align: justify;
}

.footer-link {
  color: $footer-color;
  text-decoration: none;
  display: block;
}


/* FIN FOOTER */

//Estilos para Desktop

@media screen and (min-width: 1024px) {

  .container {
    width: 1000px;
    margin: auto;
  }

  // Tamaño tarjetas Inicio

  .cards {

    div {

      margin: $zero $size;
      width: 400px;
      height: 400px;

    }

  }

  .main-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  .footer-section {
    width: 400px;
    margin: $size;
  }

}