//Variables

$brand-color: #CF649A;
$text-color: #222222;
$background-color: #F8F9FA;
$white: white;

$title-font: 'Niconne',
cursive;
$primary-font: 'Open Sans',
sans-serif;

$font-size: 1rem;
$size: 1em;

//Valores generales

* {
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  font-family: $primary-font;
  font-size: $font-size *1.2;


}

//Header

h1 {
  color: $brand-color;
  font-family: $title-font;
  font-size: $font-size * 4;
  text-align: center;
  
}

//Container

.container {
  margin: $size;

}

// Tarjetas Página Inicio

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {
    padding: 10px;
    background-color: $brand-color;
    color: $white;
    border-radius: 35px;
    margin: 10px;
    width: 400px;
    height: 275px;

    &:hover {
      background-color: rgba(207, 100, 154, 0.9);

    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: $font-size * 2;
    }
  }

}

//Acordeón

/* Estilo de los botones que se usan para abrir y cerrar el acordeón */

.accordion {
  width: 100%;
  font-family: $primary-font;
  font-size: $size;
  font-weight: bold;
  color: $white;
  background-color: $brand-color;
  padding: 25px 10px;
  outline: none;
  border: none;
  border-bottom: 0.1em solid $background-color;
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;

  &:hover {
    background-color: rgba(207, 100, 154, 0.7);

  }

}

.accordion:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f078";
  float: right;
  padding-right: 1em;

}

.active:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f077";
}

/* Estilos del contenido dentro del acordeón (oculto por defecto)*/

.panel {
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

//Blockquotes

blockquote {

  margin: 20px 0;
  padding: 20px;
  font-family: monospace;
  font-size: $size * 0.9;
  background-color: #eee;
  border: 1px solid #ddd;

}

.pictures {
  display: block;
  margin: auto;
  border-radius: 8px;

}

a {
  text-decoration: none;
  color: $brand-color;

}

// Footer

.main-footer {
  background: #121212;
  color: $white;
  padding: 1em;
  margin-top: 1em * 2;
}

.footer-title {
  border-bottom: 1px dotted #555;
  padding-bottom: 20px;
}

.footer-txt {
  color: #555;
  text-align: justify;
}

.footer-link {
  color: #555;
  text-decoration: none;
  display: block;
}


/* FIN FOOTER */

//Estilos para Desktop

@media screen and (min-width: 1024px) {

  .container {
    width: 1000px;
    margin: auto;
  }

  // Tamaño tarjetas Inicio

  .cards {
  
    div {
  
      margin: 0 10px;
      width: 400px;
      height: 400px;

    }
  
  }

  .main-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
  }

  .footer-section {
    width: 400px;
    margin: 1em;
  }

}